<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="showSubmenu('masters')">Masters</a>
      <div class="submenu" [class.expanded]="isSubmenuOpen('masters')">
        <a mat-list-item (click)="navigateTo('/masters/main-ledger')">Main Ledger</a>
        <a mat-list-item (click)="navigateTo('/masters/sub-ledger')">Sub Ledger</a>
        <a mat-list-item (click)="navigateTo('/masters/product-name')">Product Name</a>
        <a mat-list-item (click)="navigateTo('/masters/opening-balance')">Opening Balance</a>
      </div>
      <a mat-list-item (click)="showSubmenu('transactions')">Transaction</a>
      <div class="submenu" [class.expanded]="isSubmenuOpen('transactions')">
        <a mat-list-item (click)="navigateTo('/transaction/sale-purchase')">Sale/Purchase</a>
        <a mat-list-item (click)="navigateTo('/transaction/receipt-delivery')">Receipt/Delivery</a>
        <a mat-list-item (click)="navigateTo('/transaction/journal')">Journal</a>
        <a mat-list-item (click)="navigateTo('/transaction/stock-valuation')">Stock Valuation</a>
        <a mat-list-item (click)="navigateTo('/transaction/booking-cancellation')">Booking Cancellation</a>
      </div>
      <a mat-list-item (click)="showSubmenu('reports')">Reports</a>
      <div class="submenu" [class.expanded]="isSubmenuOpen('reports')">
        <a mat-list-item (click)="navigateTo('/reports/ledger')">Ledger</a>
        <a mat-list-item (click)="navigateTo('/reports/party-balance')">Party Balance</a>
        <a mat-list-item (click)="navigateTo('/reports/stock')">Stock</a>
        <a mat-list-item (click)="navigateTo('/reports/daybook')">Daybook</a>
      </div>
      <a mat-list-item (click)="navigateTo('/utility')">Utility</a>
      <a mat-list-item (click)="navigateTo('/logout')">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>SuranageMS</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
